body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(35, 110, 149);

}

#game-body {
    margin: 0px;
    padding: 0px;
    background-image: url('jessica-pamp-sGRMspZmfPE-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#contact-body {
    margin: 0px;
    padding: 0px;
    background-image: url('dharmendra-sahu-Ia2Kjtrx8y4-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#about-body {
    margin: 0px;
    padding: 0px;
    background-image: url('alin-meceanu-4P7oJbzQuBU-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.center {
    margin: auto;
    width: 70%;
    /*border: 3px solid green;*/
    padding: 10px;

    text-align: center;
}

.center2 {
    margin: 0 auto;
}

.text-position {
    position: absolute;
    top:  57%;
    left: 44%;
    width:  200px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.kort {
    position: relative;
    text-align: center;
}

.cardtext {
    position: absolute;
    bottom: 165px;
    right: 76px;
    font-size: 40px;
    color: red;
    font-family: Arial;
}

#kortbilder {
    background-color: rgba(0, 255, 0, 0.0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 370px 100px;
    grid-gap: 10px;
}


.button {
    background: rgba(76, 175, 80, 0.0); /* Green background with 0% opacity */
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0px 0px;
    cursor: pointer;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.box2 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 1;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2;
}

.box5 {
    grid-column: 3 / 4;
    grid-row: 1;
}

.box6 {
    grid-column: 3 / 4;
    grid-row: 2;
}

.box7 {
    grid-column: 4 / 5;
    grid-row: 1;
}

.box8 {
    grid-column: 4 / 5;
    grid-row: 2;
}

.box9 {
    grid-column: 5 / 6;
    grid-row: 1;
}

.box10 {
    grid-column: 5 / 6;
    grid-row: 2;
}

#img1 {
    opacity: 1;
  }

#byte {
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #ffee66;
    color: #000000;
    font-size: 37px;
    padding: 10px 20px 10px 20px;
  }

#byte:hover {
    background: #4cff79;
    background-image: linear-gradient(to bottom, #4cff79, #42d934);
    cursor: pointer;
 }

#remainingcards {
    font-size: 40px;
    font-family: Arial;
}

#meddelande {
    font-size: 40px;
    font-family: Arial;
}
#coolidge {
    font-size: 30px;
    font-family: Arial;
}

#email {
    font-size: 40px;
    font-family: Arial;
    color: rgb(35, 110, 149);
    text-decoration: none;
}

header {
    background-color:rgb(29, 81, 113);

    padding: 10px;

    text-align:center;
}

ul#menu li {
    
    list-style-type: none;
    margin: 100px;
    padding: 0;
    display: inline;

}

ul#menu a {
    font-size: 24px;
    font-family: Arial;
    color: rgb(194, 178, 128);
} 


